* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 0.637);
  overflow: hidden;
}
.slider-container {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  scrollbar-width: none;
  transform: translateX(0);
  will-change: transform;
  transition: transform 0.3s ease-out;
  cursor: grab;
}
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  background-color: bisque;
  /* padding: 0.5rem; */
}
.slide img {
  display: block;
  width: max-content;
  height: 95%;
  transition: transform 0.3s ease-in-out;
  user-select: none;
}
.grabbing {
  cursor: grabbing;
}
.grabbing .slide img {
  transform: scale(0.9);
}
@media screen and (max-width: 700px) {
  .slide img {
    width: 100%;
    height: auto;
  }
}
